{% extends 'acp/base.html' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Deactivate User "{{ u.user_email }}"</h3>
                </div>
                <div class="card-body text-center">
                    {% if success %}
                        <div class="alert alert-success" role="alert">
                            User "{{ u.user_email }}" deactivated.
                        </div>
                    {% else %}
                        <form method="POST" enctype="multipart/form-data" action="">
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    <ul class="mb-0">
                                        {% for message in error %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <p>Are you sure you want to deactivate this user?</p>
                            <p>
                                <strong>Note:</strong> Deactivating a user means their subscription will be cancelled and they will be unable to login/access the service.
                            </p>
                            <button type="submit" class="btn btn-success" name="submit" id="submit">
                                <i class="fas fa-user-slash"></i> Yes, Deactivate User
                            </button> 
                            <a href="{{ rooturi }}/admin/users/" class="btn btn-danger">
                                <i class="fas fa-times"></i> No, Cancel
                            </a>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}