{% extends 'acp/base.html' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Delete Team Member "{{ course.title }}"</h3>
                </div>
                <div class="card-body text-center">
                    {% if success %}
                        <div class="alert alert-success" role="alert">
                            Team Member "{{ course.title }}" removed.
                        </div>
                    {% else %}
                        <form method="POST" enctype="multipart/form-data" action="">
                            <p>Are you sure you want to remove this team member?</p>
                            <p>
                                <strong>Note:</strong> Removing a team member can not be undone!
                            </p>
                            <button type="submit" class="btn btn-success" name="removeTeam" id="removeTeam">
                                <i class="fas fa-trash"></i> Yes, Remove Team Member
                            </button> 
                            <a href="{{ rooturi }}/admin/team/" class="btn btn-danger">
                                <i class="fas fa-times"></i> No, Cancel
                            </a>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}