{% extends 'acp/base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/froala_editor.pkgd.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/char_counter.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/code_view.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/colors.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/emoticons.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/file.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/fullscreen.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/image.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/image_manager.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/line_breaker.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/quick_insert.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/special_characters.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/table.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/plugins/video.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ baseuri }}/css/themes/gray.min.css" type="text/css" />
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title">
            Add Lesson's to "{{ form.title }}"
        </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data" action="">
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                {% else %}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for message in error %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div id="courseOutline" class="mb-3">
                        {% if lessons is not null %}
                            {% for lesson in lessons %}
                                {% if lesson.type == 'video' %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Lession {{ lesson.number }}</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label for="thumbnailUpload" class="col-form-label">Lesson Thumbnail</label>
                                                        <input type="file" name="thumbnailUpload[]" id="thumbnailUpload{{ lesson.number }}" />
                                                        <p class="text-muted">
                                                            <small>Image must be 700 (width) x 552 (height), JPG or PNG and less than 12MB in size.</small>                            
                                                        </p>
                                                    </div>           
                                                </div>
                                                <div class="col-9 border-left">
                                                    <div class="form-group">
                                                        <label for="title" class="col-form-label">Lesson Title</label>
                                                        <input type="text" class="form-control" name="title[]" id="title" placeholder="Lesson Title" value="{{ form.title }}" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="published" class="col-form-label">Lesson Published?</label>
                                                        <select name="published[]" id="published" class="form-control">
                                                            <option value="0"{% if form.published is null %} selected{% endif %}>No</option>
                                                            <option value="1"{% if form.published == 1 %} selected{% endif %}>Yes</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="free" class="col-form-label">Lesson Free?</label>
                                                        <select name="free[]" id="free" class="form-control">
                                                            <option value="0"{% if form.free is null %} selected{% endif %}>No</option>
                                                            <option value="1"{% if form.free == 1 %} selected{% endif %}>Yes</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="type" class="col-form-label">Lesson Type</label>
                                                        <select name="type[]" id="type" class="form-control">
                                                            <option value="1">Intro Video</option>
                                                            <option value="2">Lesson Video</option>
                                                            <option value="4">Outro Video</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="source" class="col-form-label">Lesson Source</label>
                                                        <input type="text" class="form-control" name="source[]" id="source" placeholder="Lesson Source" value="{{ form.source }}" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="duration" class="col-form-label">Lesson Duration</label>
                                                        <input type="text" class="form-control" name="duration[]" id="duration" placeholder="Lesson Duration" value="{{ form.duration }}" />
                                                        <p class="text-muted">
                                                            <small>Format: HH:MM:SS</small>
                                                        </p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="description" class="col-form-label">Description</label>
                                                        <textarea name="description[]" id="description{{ lesson.number }}">{{ form.description }}</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="keywords" class="col-form-label">Keywords</label>
                                                        <input type="text" name="keywords[]" id="keywords{{ lesson.number }}" placeholder="Keywords..." value="{{ form.keywords }}" />
                                                        <p class="text-muted">
                                                            <small>Keywords to be seperated with a comma.</small>
                                                        </p>
                                                        <input type="hidden" name="thumbnailFile[]" id="thumbnailFile{{ lesson.number }}" value="{{ form.thumbnail }}" />
                                                        <input type="hidden" name="type[]" id="type" value="video" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">{% if lesson.book == 'lesson' %}Lesson{% else %}Course{% endif %} Workbook</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="title" class="col-form-label">Lesson Title</label>
                                                <input type="text" class="form-control" name="title" id="title" placeholder="Lesson Title" value="{{ form.title }}" />
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="text-center pt-3 pt-b3">
                        <button type="button" name="addVideo" id="addVideo" class="btn btn-primary">
                            <i class="far fa-video"></i> Add Video Lesson
                        </button>
                        <button type="button" name="addBook" id="addBook" class="btn btn-primary">
                            <i class="far fa-file-pdf"></i> Add Work Book                            
                        </button>
                    </div>
                    
                    
                {% endif %}
            </form>
        </div>        
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ baseuri }}/js/handlebars.js" async></script>
    <script type="text/javascript" src="{{ baseuri }}/js/typeahead.bundle.min.js" async></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/entities.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/file.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/print.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/quick_insert.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/quote.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/special_characters.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/plugins/video.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/selectize.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/filepond.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/filepond.plugin.preview.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/filepond.plugin.filesize.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/filepond.plugin.filetype.min.js"></script>
    <script type="text/javascript" src="{{ baseuri }}/js/jquery.filepond.min.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            $(function() {
                $.fn.filepond.registerPlugin(
                    FilePondPluginImagePreview,
                    FilePondPluginFileValidateSize,
                    FilePondPluginFileValidateType
                );

                $.fn.filepond.setDefaults({
                    maxFileSize: '12MB',
                    labelIdle: 'Drag & Drop your picture or <span class="filepond--label-action">Browse</span>'
                });



                $('#thumbnailUpload').filepond({
                    allowMultiple: false,
                    instantUpload: true,
                    acceptedFileTypes: [
                        'image/png',
                        'image/jpeg'
                    ],
                    server: {
                        url: baseuri + '/FilePond.php?method=thumbnail',
                        {% if form.thumbnail %}
                            files: [
                                '{{ form.thumbnail }}'
                            ]
                        {% endif %}
                    },
                    onprocessfile: function(error, file) {
                        $('#thumbnailFile').val(file.serverId);
                    },
                    onprocessfileundo: function(file) {
                        $('#thumbnailFile').val('');
                    },
                    onremovefile: function(file) {
                        $('#thumbnailFile').val('');
                    }
                });

                $('textarea#description').froalaEditor({
                    toolbarButtons: [
                        'fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 
                        'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 
                        'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 
                        'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 
                        'print', 'spellChecker', 'help', 'html', '|', 
                        'undo', 'redo'
                    ],
                    videoInsertButtons: ['videoBack', '|', 'videoByURL', 'videoEmbed'],
                    imageInsertButtons: ['imageBack', '|', 'imageUpload', 'imageByURL'],
                    quickInsertTags: [''],
                    pluginsEnabled: null,
                    heightMin: 450,
                    theme: 'gray',
                    imageMaxSize: 12000000,
                    imageUploadURL: baseuri + '/api/upload/course/',
                    imageOutputSize: true
                });

                // Temp removal of froala license cover
                $("a:contains('Unlicensed')").remove();
                
                var users = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('username'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: baseuri + '/api/users/%QUERY',
                        wildcard: '%QUERY'
                    }
                });

                {% verbatim %}
                    $('#scrollable-dropdown-menu .typeahead').typeahead({
                        hint: true,
                        highlight: true
                    }, {
                        name: 'users',
                        display: 'username',
                        limit: 15,
                        source: users,
                        templates: {
                            empty: '<span class="row m-0"><div class="alert alert-danger mb-0" role="alert" style="width:100%;">No Users Found...</div></span>',
                            suggestion: Handlebars.compile('<span class="tt-row text-left" title="{{ username }}"><span class="avatar avatar-md" style="background-image:url(\'{{ avatar }}\');"></span><span class="username" style="height:auto; max-height:60px;"><p class="mb-0">{{ username }}</p><p class="text-muted mb-0"><small>{{ name }}</small></p></span></span>')
                        }
                    });
                {% endverbatim %}

                $('#scrollable-dropdown-menu .typeahead').bind('typeahead:select', function(ev, item) {
                    $('#mentorID').val(item.id);
                });

                $('#keywords').selectize({
                    delimiter: ',',
                    persist: false,
                    create: function (input) {
                        return {
                            value: input,
                            text: input
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}