{% extends 'acp/base.html' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create Discount</h3>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" action="">
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ type }} Discount Created.
                    </div>
                {% else %}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <ul class="mb-0">
                                {% for message in error %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="code" class="col-form-label">Discount Code</label>
                        <input type="text" class="form-control" name="code" id="code" value="{{ form.code }}" />
                        <small class="form-text text-muted">
                            Leave blank for a time based discount. If you provide a code please keep it lowercase with no special characters or spacing.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="percentage" class="col-form-label required">Percentage</label>
                        <input type="number" class="form-control" name="percentage" id="percentage" value="{{ form.percentage }}" step="0.25" min="0" />
                    </div>
                    {#<div class="form-group">
                        <label for="limit" class="col-form-label">Usage Limit</label>
                        <input type="number" class="form-control" name="limit" id="limit" value="{{ form.limit }}" min="0" />
                    </div>#}
                    <div class="form-group">
                        <label for="start" class="col-form-label">Start Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="start" id="start" value="{{ form.start }}" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" name="startCal">
                                    <i class="fas fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="end" class="col-form-label">End Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="end" id="end" value="{{ form.end }}" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" name="endCal">
                                    <i class="fas fa-calendar-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for">Plan or Course Discount</label>
                        <select name="for" id="for" class="form-control">
                            <option value="0"{% if form.for == 0 %} selected{% endif %}>Course Discount</option>
                            <option value="1"{% if form.for == 1 %} selected{% endif %}>Plan Discount</option>
                        </select>
                    </div>
                    <div id="courseDiscount" class="form-group{% if form.for == 1 %} d-none{% endif %}">
                        <label for="courses">Courses</label>
                        <select multiple name="courses[]" id="courses" class="form-control" style="height:200px;">
                            {% for key,course in courses %}
                                <option value="{{ course.id }}"{% if course.id in form.courses %} selected{% endif %}>{{ course.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="planDiscount" class="form-group{% if form.for == 0 %} d-none{% endif %}">
                        <label for="plans">Plans</label>
                        <select multiple name="plans[]" id="plans" class="form-control" style="height:200px;">
                            {% for key,plan in plans %}
                                <option value="{{ plan.id }}"{% if plan.id in form.plans %} selected{% endif %}>{{ plan.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="text-center">
                        <a href="{{ baseuri }}/admin/pricing/discount/" class="btn btn-danger">
                            <i class="far fa-times"></i> Cancel
                        </a>
                        <button type="submit" name="submitDiscount" id="submitDiscount" class="btn btn-primary">
                            <i class="fas fa-save"></i> Create Discount
                        </button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" nonce="YzY1NjQ3NTQyYWRiNDliODgxOTMwNDkzYzhiZjVmZTMg">
        $(function() {
            $('input[name="start"]').datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: new Date()
            });

            $('button[name="startCal"]').click(function() {
                $('input[name="start"]').datepicker('show');
            });

            $('input[name="end"]').datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: new Date()
            });

            $('button[name="endCal"]').click(function() {
                $('input[name="end"]').datepicker('show');
            });

            $('select[name="for"]').change(function() {
                if($(this).val() == 0) {
                    $('#courseDiscount').removeClass('d-none');
                    $('#planDiscount').addClass('d-none');
                } else if($(this).val() == 1) {
                    $('#courseDiscount').addClass('d-none');
                    $('#planDiscount').removeClass('d-none');
                }
            });
        });
    </script>
{% endblock %}