{% extends 'main/base.html' %}

{% block body %}
    <header class="parallax-banner header-shadow bg-dark-grey">
        <div class="image" style="background-image:url({{ baseuri }}{{ config.default_banner }});"></div>
        <div class="container">
            <div class="row pb-5 mb-5">
                <div class="col-12 pb-5 mb-5">
                    <h2 class="mb-3">
                        <i class="fas fa-chalkboard-teacher"></i> Apply To Be A Teacher 
                    </h2>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-white diagonal-open-dark text-dark py-5 clip-path-fix">
        <div class="container mt-3 mb-5">
            <div class="row">
                <div class="col-12">
                    {% if success %}
						<div class="form-group">
							<div class="swal-icon swal-icon--success">
								<span class="swal-icon--success__line swal-icon--success__line--long"></span>
								<span class="swal-icon--success__line swal-icon--success__line--tip"></span>
								<div class="swal-icon--success__ring"></div>
								<div class="swal-icon--success__hide-corners"></div>
							</div>
							<div class="swal-title">{{ success }}</div>
						</div>
					{% else %}
                        <form enctype="application/x-www-form-urlencoded" action="" method="POST">
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    <ul class="mb-0">
                                        {% for message in error %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}	
                            <div class="form-group">
                                <label for="name" class="col-form-label required">Name:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="name" id="name" placeholder="Name..." value="{{ form.name }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-form-label required">Email:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="email" id="email" placeholder="Email Address..." value="{{ form.email }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject" class="col-form-label required">Course Subject:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-tags"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="subject" id="subject" placeholder="Course Subject..." value="{{ form.subject }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reason" class="col-form-label required">Why do you qualify?</label>
                                <textarea class="form-control" name="reason" id="reason" rows="15">{{ form.reason }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="sample" class="col-form-label">Video Sample:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-video"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="sample" id="sample" placeholder="Video Sample..." value="{{ form.sample }}" />
                                </div>
                                <p class="fomr-text text-muted">
                                    <small>Please include a short sample of your instructual skills, this can be a private YouTube/Vimeo link.</small>
                                </p>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" id="g-recaptcha-teacher" data-theme="light" data-sitekey="{{ config.recaptcha_key }}"></div>
                            </div>
                            <div class="form-group text-center">
                                <input type="hidden" name="CSRFName" value="{{ form.CSRF[0] }}" />
                                <input type="hidden" name="CSRFToken" value="{{ form.CSRF[1] }}" />
                                <button type="submit" name="applyTeacher" id="applyTeacher" class="btn btn-primary">
                                    <i class="fas fa-envelope"></i> Submit Application
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>        
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {% if user.is_registered %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}
{% endblock %}